# Byte-compiled / optimized / DLL files
__enamlcache__/
__pycache__/
*.py[cod]

# C extensions
*.so
*.c

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/build/
